textarea {
    width: 100%;
    height: 100%;
}

.totalizadorItens {
    font-weight: bold;
}
.conteudoPlanilha {
    height: 300px;
}

.conteudoPlanilha textarea:read-only {
    background-color: #e2e2e2;
}

.divAction div {
    margin-top: 50px;
}

.divAction div a {    
    color: white !important;
}